# Standard Ignores
venv
__pycache__/
.DS_Store
.vscode/
.history/
.pytype/

# Rasa Ignores
credentials.yml
*.db-*
rasa.db*
*.db
results/
models/
chatroom/
.idea/
.rasa/
.cache/
.local/
.keras/
.global/
*.zip

.env
.python-version